# Client
client/node_modules/
client/build/
client/.env
client/.env.local
client/.env.production
client/public/models/

# Server
server/node_modules/
server/.env

# Misc
.DS_Store
*.log
npm-debug.log*